button:hover {
    cursor: pointer;
}
button:focus {
    outline: none;
}
.App {
    display: flex;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 900px;
    align-self: center;
}
.headerBtn {
    background-color: white;
    border: none;
    height: 40px;
    width: 90px;

}
.logInBtn {
    background-color: #355c7d;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 50px;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcomeContainer {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 900px;
    align-self: center;
}

.welcomeRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sectionOneContainer {
    background-color: #f0f3f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionOne {
    width: 900px;
    align-self: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sectionTwoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionTwo {
    width: 900px;
    align-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.footerContainer {
    background-color: #355c7d;
    display: flex;
    flex-direction: column;
}
.footer {
    width: 900px;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    align-self: center;
}

.footerBtn {
    background-color: #355c7d;
    color: white;
    border: none;
}
.footerBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.About {
    align-self: center;
}

.aboutContainer {
    width: 900px;
}